<!DOCTYPE html>
<html lang="en">
  <head> <%- include('partials/head'); %> </head>
  <body class="container">
    <header> <%- include('partials/header'); %> </header>
    <main>
      <!--div class="jumbotron"-->
        <% if(data && data.type && data.type == "form") { %>
  	      <div> <%- include('partials/form'); %> </div>
        <% } else { %>
          <% if(Array.isArray(data)) { %>
  	        <div> <%- data %> </div>
          <% } else if(typeof data == 'object') { %>
            <div> <%- data %> </div>
          <% } else { %>
            <div> <%- data %> </div>
          <% } %>
        <% } %>
      <!--/div-->
    </main>
    <footer> <%- include('partials/footer'); %> </footer>
  </body>
</html>
